$input-font-size: 16px;

$btn-font-sizes: (
  "x-small" : 10px,
  "small": 10.5px,
  "default": 12px,
  "large": 14px,
  "x-large": 16px,
);
$material-light: (
  'background': #EEEEEE
);


//.theme--light {
//  .v-icon.list-item ,
//  .v-list-item .v-icon,
//  .container .v-icon {
//    color: #ffffff;
//  }
//}
.theme--light {
  .v-navigation-drawer .v-icon.list-item ,
  .v-navigation-drawer .v-list-item .v-icon,
  .v-navigation-drawer .container .v-icon,
  .v-navigation-drawer .v-list-item__icon{
    color: #919191 !important;
  }
}
.theme--dark {
  .v-navigation-drawer .v-icon.list-item ,
  .v-navigation-drawer .v-list-item .v-icon,
  .v-navigation-drawer .container .v-icon,
  .v-navigation-drawer .v-list-item__icon{
    color: #ffffff !important;
  }
}

//.theme--light {
//  div > .list-item,
//  div > .v-list-item,
//  .v-list-item-title,
//  .error-alert,
//  .error-mobile-alert {
//    color: #ffffff !important
//  }
//}
.theme--light {
  .navbar .v-toolbar-title,
  .v-toolbar-content .v-app-bar-nav-icon,
  .v-toolbar__content .v-btn--text {
    color: #333333 !important;
  }
}
.v-navigation-drawer .v-list-group--active .v-list-item__title {
  color: #5f5f5f !important;
}
.v-navigation-drawer .v-list-group__header:active {
  background-color: var(--v-selected-base);
}
.theme--dark {
  .v-navigation-drawer .v-list-group--active .v-list-item__title {
    color: #ffffff !important;
  }
}
  //.v-navigation-drawer .v-list-item:active:before,
  //.v-navigation-drawer .v-list-item--active,
  //.v-navigation-drawer v-list-group__header .v-list-item .v-list-item--active .v-list-item--link .theme--light {
  //  background-color: var(--v-selected-base);
  //  opacity: .25 !important;
  //}
  .v-navigation-drawer .v-list-item:hover,
  .v-navigation-drawer .v-list-group__header:hover{
    background-color: var(--v-hover-base) !important;
    opacity: .8 !important;
  }
.v-list-item--link:before,
.v-list-group__header:before{
  content: none;
}

//.v-navigation-drawer .v-list-item__title,
//.v-navigation-drawer .v-list-item__icon{
//  z-index: 1;
//}
